/* color scheme
#4ABDAC  (fresh-turquoise)
#FC4A1A  (vermillion-orange)
#F7B733   (sunshine-yellow)
#DFDCE3   (clean- light grey)
 */

body {
    font-family: "Lora", serif;
    background-color: #4abdac;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}
img {
    display: block;
    max-width: 100%;
}

header h1 {
    color: #f7b733;
    font-size: 50px;
    margin: 0;
}
h2 {
    text-align: center;
    /* text-decoration: underline; */
    margin: 20px auto;

    color: #ffffff;
}

h4 {
    margin: 0;
}
input {
    border-radius: 5px;
    border: 2px solid #318376;
    outline: none;
}
input:focus {
    border-color: #f7b733;
}
header a {
    text-decoration: none;

    text-align: center;
    color: #ffffff;
    font-family: "Lora", serif;
    font-size: 24px;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
}
header a:hover {
    border-bottom: 1px solid #ffffff;
}

.background-image {
    max-height: 800px;
    max-width: 800px;
    margin: auto;
}
.homepage-wrapper {
    background-color: #4abdac;

    margin-bottom: 20px;
}

.review-wrapper {
    display: flex;
    justify-content: space-around;
}
.reviews {
    width: 300px;
    padding: 20px;
    border: 5px solid #f7b733;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 40px;
}

.blog {
    width: 800px;
    margin: auto;
}
.blog-post {
    border: 2px solid #f7b733;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    margin: 30px auto;
}
.blog-paragraph {
    padding: 20px;
    color: #ffffff;
}

.benefit-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.benefit-wrapper h1 {
    text-align: center;
    color: #ffffff;
    padding: 30px;
}

.benefit-category {
    display: flex;
    align-items: center;
    /* width: 60vw; */

    color: #ffffff;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 60px;
}
.benefit-category h4 {
    font-size: 24px;
}

.benefit-img {
    width: 400px;
}
.benefit-text {
    margin: 30px;
    width: 600px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 50px;
}

.login img {
    width: 600px;
}

.login h2 {
    text-decoration: none;
}
.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form-field {
    padding: 10px;
    font-size: 20px;
    display: flex;
}

.form-field label {
    width: 100px;
}
.all-tasks {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 0;
    width: 80%;
    margin: 0 auto;
}
.task {
    color: #ffffff;
    border: 2px solid;
    border-color: #ffffff;
    display: flex;
    border-radius: 5px;
    padding: 5px;
}
.image-wrapper {
    display: flex;
    justify-content: center;
}
.task-photo {
    display: inline-block;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 auto;
}
.progress-photo {
    width: 100%;
    height: 400px;
}
#task-button {
    margin: 0 auto;
    padding: 10px;
    display: block;
    font-size: 14px;
    background-color: #f7b733;

    border: 2px solid transparent;
    border-radius: 3px;
}
#task-button:hover {
    border: 2px solid #ffffff;
    cursor: pointer;
}
.task label {
    margin-left: 10px;
    font-size: 20px;
}

.checkbox:hover {
    cursor: pointer;
}
.diagram {
    display: flex;
    justify-content: center;
}

.diagram-img {
    width: 600px;
}

.not-found {
    width: 800px;
    margin: 0 auto;
    display: block;
}
.plan-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.plan {
    margin-bottom: 40px;
    margin-top: 40px;
}
.plan h1 {
    color: #ffffff;
}

.add-button {
    padding: 4px;
    margin: 20px 0;
    font-size: 14px;
    background-color: #f7b733;
    color: rgb(6, 75, 114);
    border: 2px solid transparent;
    border-radius: 3px;
}

.add-button:hover {
    border: 2px solid #ffffff;
    cursor: pointer;
}

.delete-button {
    padding: 3px;
    margin-left: 10px;
    background-color: #ffffff;
    color: #f7b733;
    border: 2px solid transparent;
    border-radius: 3px;
}

.delete-button:hover {
    border: 2px solid #f7b733;
    cursor: pointer;
}

.room-type-field {
    display: inline-block;
    margin-right: 30px;
}
.room-type label {
    color: #ffffff;
    font-size: 20px;
    margin-right: 15px;
}

.room-type select {
    font-size: 16px;
    margin-right: 15px;
    border-radius: 5px;
    border: 2px solid #318376;
}
.room-type select:focus {
    border-color: #f7b733;
}

.room-type input {
    font-size: 16px;
}
.about-wrapper {
    max-width: 800px;
    margin: 0 auto;
}
.about {
    max-width: 800px;
    margin: 30px 40px;
    color: #ffffff;
}
.about p {
    font-size: 20px;
    line-height: 30px;
}
/* .about-img {
    display: flex;
    flex-direction: row-reverse;
} */
.about-img img {
    max-width: 300px;
    float: right;
}

.progress-container {
    height: 20px;
    width: 50%;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 0 auto;
    padding: 8px;
}
.progress {
    padding-top: 40px;
}
.progress-fill {
    height: 100%;
    background-color: bgcolor;
    border-radius: inherit;
    text-align: right;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 16em;
    height: 8em;
    position: relative;
    overflow: hidden;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    bottom: 0;
}

.loader::before {
    width: inherit;
    height: 0.2em;
    background-color: hsla(0, 0%, 85%);
}

.loader::after {
    box-sizing: border-box;
    width: 50%;
    height: inherit;
    border: 0.2em solid hsla(0, 0%, 85%);
    border-radius: 50%;
    left: 25%;
}

.loader span {
    position: absolute;
    width: 5%;
    height: 10%;
    background-color: white;
    border-radius: 50%;
    bottom: 0.2em;
    left: -5%;
    animation: 2s linear infinite;
    transform-origin: 50% -3em;
    animation-name: run, rotating;
}

.loader span:nth-child(2) {
    animation-delay: 0.075s;
}
.loader span:nth-child(3) {
    animation-delay: 0.15s;
}

@keyframes run {
    0% {
        left: -5%;
    }
    10%,
    60% {
        left: calc((100% - 5%) / 2);
    }
    70%,
    100% {
        left: 100%;
    }
}

@keyframes rotating {
    0%,
    10% {
        transform: rotate(0deg);
    }
    60%,
    100% {
        transform: rotate(-1turn);
    }
}

.loader-cat {
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
}
.form-error {
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background: #f3c6c6;
    border-radius: 5px;
}

.modal-wrapper {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-modal {
    max-width: 40vw;
    background-color: #ffffff;
    padding: 40px;
    color: rgb(6, 75, 114);
    text-align: center;
    border-radius: 5px;
}

.delete-modal img {
    max-height: 300px;
    margin: 0 auto;
}
.delete-modal h2 {
    color: rgb(6, 75, 114);
}
.delete-modal p {
    color: red;
    font-weight: bold;
}

.delete-modal button {
    margin-right: 20px;
}
#crush-chaos {
    background-color: #4abdac;
    font-weight: bold;
}
#embrace-chaos {
    background-color: rgb(221, 134, 134);
    font-weight: bold;
}
.goodbye {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 30px;
    color: #ffffff;
}
.goodbye img {
    max-width: 400px;
}

.account-wrapper {
    margin: 40px auto;
    max-width: 1000px;
}
.account {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 50px;
}
.account img {
    width: 200px;
}

.account-text {
    margin: 30px;
    width: 400px;
}
#delete-button {
    display: block;
    margin: 0 auto;
}

.me-link {
    color: #ffffff;
}
.me-link:hover {
    color: #f7b733;
}
