/* color scheme
#4ABDAC  (fresh-turquoise)
#FC4A1A  (vermillion-orange)
#F7B733   (sunshine-yellow)
#DFDCE3   (clean- light grey)
 */

body {
    font-family: "Lora", serif;
    background-color: #4abdac;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header h1 {
    color: #fc4a1a;
    font-size: 32px;
}
h2 {
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    margin: 30px;
}
header a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Lora", serif;
    font-size: 24px;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
}
header a:hover {
    border-bottom: 1px solid #ffffff;
}

.background-image {
    background-image: url("https://img.freepik.com/free-vector/happy-family-cleaning-apartment_74855-6501.jpg?w=1480&t=st=1661502825~exp=1661503425~hmac=6112586e42861e4eac7d7b549a26589440447a13073b9957241bfd02e4b0b1af");
    height: 800px;
    width: 1500px;
    margin: auto;
}
.homepage-wrapper {
    background-color: #4abdac;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.review-wrapper {
    display: flex;
    justify-content: space-around;
}
.reviews {
    width: 300px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #ffffff;
}
