/* color scheme
#4ABDAC  (fresh-turquoise)
#FC4A1A  (vermillion-orange)
#F7B733   (sunshine-yellow)
#DFDCE3   (clean- light grey)
 */

body {
    font-family: "Lora", serif;
    background-color: #4abdac;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

header h1 {
    color: #f7b733;
    font-size: 50px;
    margin: 0;
}
h2 {
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
    color: #ffffff;
}

h4 {
    margin: 0;
}
header a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Lora", serif;
    font-size: 24px;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
}
header a:hover {
    border-bottom: 1px solid #ffffff;
}

.background-image {
    background-image: url("spotless-banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 1500px;
    margin: auto;
}
.homepage-wrapper {
    background-color: #4abdac;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.review-wrapper {
    display: flex;
    justify-content: space-around;
}
.reviews {
    width: 300px;
    padding: 20px;
    border: 5px solid #f7b733;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 40px;
}

.blog {
    width: 800px;
    margin: auto;
}
.blog-post {
    border: 2px solid #f7b733;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    margin: 30px auto;
}
.blog-paragraph {
    padding: 20px;
    color: #ffffff;
}

.benefit-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.benefit-wrapper h1 {
    text-align: center;
    color: #ffffff;
    padding: 30px;
}

.benefit-category {
    display: flex;
    align-items: center;
    width: 60vw;

    color: #ffffff;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 60px;
}
.benefit-category h4 {
    font-size: 24px;
}

.benefit-img {
    width: 400px;
}
.benefit-text {
    margin: 30px;
    width: 600px;
}

.login {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
}

.login img {
    width: 400px;
}

.all-tasks {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 0;
}
.task {
    font-size: 24px;
}

.task-photo {
    display: flex;
    justify-content: center;
}

.diagram {
    display: flex;
    justify-content: center;
}

.diagram-img {
    width: 600px;
}
